body {
    user-select: none;
    font-family: '굴림체', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

th {
    visibility: hidden;
    height: 0;
    border: none;
    padding: 0;
    margin: 0;
}

tr {
    padding: 0;
    margin: 0;
}

td {
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 2px;
    margin: 0;
    line-height: 1.1;
}

.content-all {
    width: 70px;
    height: 85px;
}

.remark-bor { background-color: #F9F911; }
.remark-bor-ee { background-color: #F4CB11; }
.remark-bor-e { background-color: #F49511; }
.remark-arr { background-color: #FF729D; }

.compact {
    margin: 1px 0;
}

#flight-scroll-container {
    width: 100%;
    height: calc(100vh - 50px);
    overflow: auto;
}

.info {
    font-size: 12px;
    color: red;
    padding: 0;
    margin: 0;
}

#refresh-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  
    width: 40px;
    height: 40px;
    background-color: rgba(33, 150, 243, 0.6);
    border: none;
    border-radius: 50%;
    cursor: pointer;
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
.refresh-icon {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
  }
  
#nextday-button {
    position: fixed;
    bottom: 70px; /* refresh-button보다 위 */
    right: 20px;
    z-index: 1000;

    text-decoration: none;
}

.plus1d-icon {
    width: 40px;
    height: 40px;
    background-color: rgba(76, 175, 80, 0.6); /* 초록색 반투명 */
    border-radius: 50%;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

#duty-button {
    position: fixed;
    bottom: 120px; /* nextday-button보다 위 */
    right: 20px;
    z-index: 1000;
    cursor: pointer;
}

.duty-icon {
    width: 40px;
    height: 40px;
    background-color: rgba(248, 122, 122, 0.6); /* 옅은 핑크 */
    border-radius: 50%;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#refresh-button.loading .refresh-icon, #nextday-button.loading .plus1d-icon, #duty-button.loading .duty-icon {
    animation: spin 1.3s linear infinite;
  }

  @keyframes spin {
    to { transform: rotate(360deg); }
  }
